/* Button styling for Streamlit buttons */
.stButton > button {
    width: 100%;
    padding: 12px;
    background-color: #6C4FA1;
    border: none;
    color: white;
    font-size: 25px;
}

.stButton > button:hover {
    background-color: #9270cf;
    color: white;
}

.stButton > button:visited {
    color: white;
}

.stButton > button:focus {
    color: white;
}

/* Content box styling */
.content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Style for the applicants counter */
.pending-applicants-container {
    text-align: left;
}

.pending-applicants-label {
    font-size: 24px;
    font-weight: bold;
}

.pending-applicants-value {
    font-size: 48px;
    color: orange;
    font-weight: bold;
}