/* Global styling */
html, body, [data-testid="stAppViewContainer"] {
    background-color: #f0f2f6 !important; /* Background color for the entire application */
}

/* Top menu styling */
.top-menu {
    background-color: #4a3f3f;
    color: white;
    padding: 10px;
    font-size: 18px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.top-menu a {
        background-color: #6C4FA1; /* Lila bakgrundsfärg */
        color: white; /* Vit text */
        padding: 10px 20px; /* Extra padding för att göra knappen tydligare */
        text-decoration: none; /* Ta bort understrykning */
        border-radius: 5px; /* Rundade hörn */
        font-size: 18px; /* Justera storlek på texten */
        margin-right: 10px; /* Marginal mellan knapparna */
        width: 150px; /* Sätter en fast bredd på alla knappar */
        text-align: center; /* Centrera texten i knapparna */
    }

    .top-menu a:hover {
        background-color: #5a3f85; /* Lite mörkare lila färg när du hovrar över knappen */
    }

    /* Avstånd mellan "RecruitIT"-loggan och knapparna */
    .top-menu span {
        margin-right: 30px; /* Större avstånd mellan loggan och knapparna */
    }
/* Profile section in the top menu */
.profile {
    float: right;
}

.profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

/* Upload buttons container */
.upload-buttons {
    margin-top: 20px;
}

.upload-buttons button {
    padding: 10px 90px;
    background-color: #6C4FA1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.upload-buttons button + button {
    margin-left: 10px;
}

/* Side menu styling */
.side-menu {
    background-color: #6C4FA1;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.side-menu h2 {
    color: #020101 !important;
    text-align: center;
    font-size: 24px !important;
    background-color: transparent !important;
}

/* Button styling for Streamlit buttons */
.stButton > button {
    width: 100%;
    padding: 12px;
    margin-bottom: 3px;
    background-color: #6C4FA1;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.stButton > button:hover {
    background-color: #3fcc49;
}

/* Content box styling */
.content {
    padding: 20px;
    background-color: #e8dada;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Icon styling */
.icon {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}
